* {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#MainBox {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    border: 5px pink;
}

#Header {
    font-size: 50px;
    position: relative;
    text-align: center;
    padding: 8px 12px;
    margin: 30;
    margin-bottom: 20;
    top: 100px;
    color: black;
    font-weight: 700;
}

#Button {
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
    width: 100%;
    top: 80px;



}

#Button .button {
    position: relative;
    font-size: 50px;
    display: block;
    border: 5px;
    display: inline-block;
    padding: 15px 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow 0.5s;
    transition: background-color 0.5s;
    border-radius: 15px;
    user-select: none;
    font-weight: 200;
    border-color: black;
}

#Button .button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #f4acb7;
    ;


}

#Button .button:active {
    background-color: #f4acb7;
    transform: translateY(10px);
    transition-duration: 0.1s;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.6), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}